.main {
    margin-top: 15vh;
    text-align: center;
}

.form-container {
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 50%;
    margin: auto;
    background-color: lightblue
}

.forms {
    margin-top: 30px;
}

.input-text {
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 10px;
    border-color: blue;
}
.issue-table {
    margin-top: 15px;
}
