<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
            input {
                padding: 10px;
            }
            form {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form>
            <a href="register" target="_blank"><input type="button" value='Register as Student'></a>
            <a href="login" target="_blank"><input type='button' value='Log-in as Student'></a>
            <a href="Register" target="_blank"><input type="button" value="Register as Book-Manager"></a>
            <a href="login-manager" target="_blank"><input type="button" value='Log-in as Book-Manager'></a>
        </form>
    </body>
</html>